.navbar {
    text-align: center;
    color: white;
    height: 50px;
    width: 100vw;
    padding: 5px;
    border: solid 1px black;
    background-color: var(--minor-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.navlink {
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: #aa8531;
}

.active {
    color: #aa8531;
    /* border-bottom: var(--main-bg-color); */
    border: #aa8531;
}

a {
    color: black;
}
