.messeges {
    list-style-type: none;
    text-align: center;
    color: white;
    margin-right: 35px;
}

.globalChat {
    color: white;
}

.chatBox {
    margin-top: 10px;
    border: solid 1px whitesmoke;
    background-color: var(--minor-bg-color);
    width: 300px;
    border-radius: 5px;
}

.inputChat {
    width: 260px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.submitChat {
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: larger;
    background-color: #aa8531;
    border: 2px solid#7b6710;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.submitChat:hover {
    background-color: #997b33;
}
