.album {
   width: 100vw;
   height: 100vh;
}

.stickerHidden img{
   filter: grayscale(100%);
   opacity: 0.2;
}

img {
   width: 200px;
}

.stickers {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.sticker {
   padding-left: 25px;
   padding-right: 25px;
}

.stickerHidden {
   padding-left: 25px;
   padding-right: 25px;
}

.stars{
   width: 40px;
   visibility: hidden;
}

/* .stars:hover{
   width: 40px;
   visibility: visible;
} */

.starsContainer{
   display: flex;
   flex-direction: row;
   list-style: none;
   position: relative;
   bottom: 150px;
   /* right: 40px; */
   justify-content: center;
   padding: 0;
}

.stickerId {
   position: relative;
   bottom: 150px;
   text-align: center;
   font-weight: bold;
   font-size: larger;
   color: white;
}

.albumTop {
   margin-top: 75px;
   height: 200px;
   display: flex;
   justify-content: space-around;
}

.albumTop > button {
   height: 25%;
   margin: 25px;
   font-weight: bold;
   font-size: larger;
   background-color: #aa8531;
   border: 2px solid#7b6710;

}

.albumTop > button:hover {
   height: 25%;
   margin: 25px;
   font-weight: bold;
   font-size: larger;
   background-color: #aa8531;
   border: 2px solid#aa8531;
}

.albumTop > select {
   height: 25%;
   margin: 25px;
   font-weight: bold;
   font-size: larger;
   background-color: #aa8531;
   border: 2px solid#7b6710;
}

/* .albumTop > img {
   width: 100%;
   height: 100%;
   margin: 25px;
} */
