body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

#flagsLeft,
#flagsRight {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 50vh;
    margin: 2.5px
}

.groupA,
.groupB,
.groupC,
.groupD,
.groupE,
.groupF,
.groupG,
.groupH {
    display: flex;
    /* margin: 10px; */
}

.flag {
    width: 75px;
    border: 1px solid gold;
    margin: 2.5px
}

#logo {
    width: 300px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.loginpg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
    background-color: var(--minor-bg-color)
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput {
    height: 30px;
    width: 20vw;
}

input {
    margin: 5px;
}

.submitBtn {
    height: 30px;
    width: 10vw;
    cursor: pointer;
    margin-top: 20px;
}

.registerNav {
    margin-top: 30px;
    height: 30px;
    width: 7vw;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:active {
    color: black;
}

