.publicUsers {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items:flex-end;
    text-align: center;
    height: 70vh;
}

.notrade{
   margin: 5px;
   width: 25vw;
   cursor: pointer;
}

.publicPage {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: center;
}

.locationUsers {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.chat {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}
.location {
    text-align: right;
    margin-right: 45px;
    color: white;
}

.chatBtn {
    height: 60px;
    width: 140px;
    /* border-radius: 50px; */
    font-weight: bold;
    font-size: larger;
    background-color: #aa8531;
    border: 2px solid#7b6710;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.chatBtn:hover {
    background-color: #997b33;
}
